@model BITSoccer.Models.Coach

@{
    ViewBag.Title = "Thông tin Huấn luyện viên";
    Layout = "~/Views/Shared/_LayoutAdminControl.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3 style="font-weight:700">Thông tin chung</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-10">Tên Huấn luyện viên</label>
                                <h4 class="col-md-10 ml-4"> @Model.Name</h4>
                                <label class="col-md-10">Tuổi:</label>
                                <p class="col-md-10 ml-4">@Model.Age</p>
                                <label class="col-md-10">Giới tính</label>
                                <p class="col-md-10 ml-4">@Model.Gender</p>
                                <label class="col-md-10">Chứng minh nhân dân</label>
                                <p class="col-md-10 ml-4">@Model.Passport</p>
                                <label class="col-md-10">Trạng thái:</label>
                                <p class="col-md-10 ml-4">@Model.IsActive</p>
                                <label class="col-md-10">Ngày tạo - người tạo:</label>
                                <p class="col-md-10 ml-4"> @Model.CreatedDate - @Model.CreatedBy</p>
                                <label class="col-md-10">Ngày chỉnh sửa - người chỉnh sửa:</label>
                                <p class="col-md-10 ml-4"> @Model.ModifyDate - @Model.ModifyBy</p>
                            </div>
                            <div class="col-md-5">
                                <img src="@Model.Image" class="img-fluid" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 style="font-weight:700">Thông tin chi tiết</h3>
                </div>
                <div class="card-body">
                    <label class="col-md-10">Trình độ bằng cấp</label>
                    <p class="col-md-10 ml-4"> @Model.LevelCoach.LevelName</p>
                    <label class="col-md-10">Số điện thoại:</label>
                    <p class="col-md-10 ml-4"> @Model.Phone</p>
                    <label class="col-md-10">Email</label>
                    <p class="col-md-10 ml-4"> @Model.Email</p>
                    <label class="col-md-10">Twitter</label>
                    <p class="col-md-10 ml-4"> @Model.Twitter</p>
                    <label class="col-md-10">Facebook</label>
                    <p class="col-md-10 ml-4"> @Model.Facebook</p>
                    <label class="col-md-10">Insta</label>
                    <p class="col-md-10 ml-4"> @Model.Insta</p>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 style="font-weight:700">Giới thiệu chi tiết </h3>
                </div>
                <div class="card-body">
                    <label class="col-md-2">Mô tả chi tiết:</label>
                    @Html.Raw(Model.Description)
                </div>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Coach_ID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>

