@model IEnumerable<BITSoccer.Models.Coach>

@{
    ViewBag.Title = "Huấn luyện viên";
    Layout = "~/Views/Shared/_LayoutAdminControl.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách @ViewBag.Title</h3>
        <a href="@Url.Action("Create","Coaches")" class="btn btn-primary float-right"><span><i class="fas fa-plus"></i></span> Thêm @ViewBag.Title</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Độ tuổi</th>
                    <th>Trình độ</th>
                    <th>Hình Ảnh</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Gender</td>
                    <td>@item.Age</td>
                    <td>@item.LevelCoach.LevelName</td>
                    <td><img src="@item.Image" style="width:200px" /></td>
                    <td class="text-center">
                        <a href="@Url.Action("Details","Coaches", new { id = item.Coach_ID })" class="btn btn-info btn-sm">
                            <i class="fas fa-eye"></i> Xem
                        </a>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("Edit","Coaches", new { id = item.Coach_ID })">
                            <i class="fas fa-pencil-alt"></i> Sửa
                        </a>
                        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="@string.Concat("#exampleModalCenter",item.Coach_ID)">
                            <i class="fas fa-trash"></i> Xóa
                        </a>
                    </td>
                </tr>
                    <div class="modal fade" id="@string.Concat("exampleModalCenter",item.Coach_ID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn xóa huấn luyện viên @item.Name ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                    @using (Html.BeginForm("Delete", "Coaches", new { id = item.Coach_ID }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            <i class="fas fa-trash"></i> Xóa
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Độ tuổi</th>
                    <th>Trình độ</th>
                    <th>Hình Ảnh</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>



