@model IEnumerable<BITSoccer.Models.Stadium>

@{
    ViewBag.Title = "Sân vận động";
    Layout = "~/Views/Shared/_LayoutAdminControl.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách @ViewBag.Title</h3>
        <a href="@Url.Action("Create","Stadiums")" class="btn btn-primary float-right"><span><i class="fas fa-plus"></i></span> Thêm @ViewBag.Title</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tên sân vận động</th>
                    <th>Địa chỉ</th>
                    <th>Hình ảnh</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td><img src="@item.Image" alt="Alternate Text" style="width:200px" /></td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm" href="@Url.Action("Edit","Stadiums", new { id = item.Stadium_ID })">
                            <i class="fas fa-pencil-alt"></i> Sửa
                        </a>
                        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="@string.Concat("#ModalCenter",item.Stadium_ID )">
                            <i class="fas fa-trash"></i> Xóa
                        </a>
                    </td>
                </tr>
                    <div class="modal fade" id="@string.Concat("ModalCenter",item.Stadium_ID )" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn xóa sân vận động @item.Name
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                    @using (Html.BeginForm("Delete", "Stadiums", new { id = item.Stadium_ID }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            <i class="fas fa-trash"></i> Xóa
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Tên sân vận động</th>
                    <th>Địa chỉ</th>
                    <th>Hình ảnh</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>