@model PagedList.IPagedList<BITSoccer.Models.Comment>
@using System.Globalization
@using PagedList.Mvc;
@{
    ViewBag.Title = "Thông tin lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ClassReference = (List<BITSoccer.Models.Class>)ViewBag.ReferenceClass;


}
@section AddToHead{
    <script>
        $(document).on('ready', function () {

            $('.kv-uni-star').rating({
                theme: 'krajee-uni',
                filledStar: '&#x2605;',
                emptyStar: '&#x2606;'
            });
            $('.rating,.kv-gly-star,.kv-gly-heart,.kv-uni-star,.kv-uni-rook,.kv-fa,.kv-fa-heart,.kv-svg,.kv-svg-heart').on(
                'change', function () {
                    console.log('Rating selected: ' + $(this).val());
                });
            $('.total-rating-star').rating({
                theme: 'krajee-uni',
                displayOnly: true,
                showClear: false,
                showCaption: false,
                filledStar: '&#x2605;',
                emptyStar: '&#x2606;'
            });

        });
    </script>

}
<main>

    <div class="titile-bg" style="background-image: url('../../Assets/img/header_bg_3.jpg');">
        <div class="container">
            <div class="titile-name">@ViewBag.Classes.Name</div>
        </div>
        <div class="text-shadow"></div>
    </div>
    <div id="background_main">
        <div class="container">
            <div id="background_content" style="padding: 20px 0px">
                <!-- Thông tin chung -->
                <div class="separate-class-detail-line">
                    <div class="container">
                        <div class="row justify-content-between mt-5 mb-3">
                            <div class="col-lg-8 col-md-12">
                                <h2 class="title-orangered">@ViewBag.Classes.Name</h2>
                                <p>
                                    @ViewBag.Classes.ShortDescription
                                </p>
                                @{
                                    DateTime Check = ViewBag.Classes.StartDay;

                                    if (DateTime.Today > Check.AddDays(-3))
                                    {
                                        <div class="alert alert-warning text-capitalize text-center">khoá học này đã hết hạn đăng ký rồi</div>
                                    }
                                    else
                                    {
                                        if (ViewBag.FullClass != null)
                                        {
                                            <div class="alert alert-warning text-capitalize text-center">@ViewBag.FullClass</div>
                                        }
                                        else
                                        {
                                            if (User.Identity.IsAuthenticated)
                                            {
                                                if (ViewBag.UsersHaveClass == null)
                                                {
                                                    <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = ViewBag.Classes.Class_ID })">
                                                        <img src="~/Assets/img/dang-ky-hoc-banh.png" alt="Bóng đá">
                                                    </a>
                                                }
                                                else
                                                {
                                                    <div class="alert alert-info text-capitalize text-center">bạn đã đăng ký khoá học này rồi</div>
                                                }
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Login", "Account")" class="alert alert-info text-center">Vui lòng đăng nhập để đăng ký lớp học</a>
                                            }
                                        }
                                    }
                                }

                            </div>
                            <div class="col-lg-4 col-md-12">
                                @{
                                    if (ViewBag.Classes.Image != null)
                                    {
                                        <img class="float-right img-fluid" src="@Url.Content(ViewBag.Classes.Image)" alt="picture @ViewBag.Classes.Name">
                                    }
                                    else
                                    {
                                        <img class="float-right img-fluid" src="~/Assets/img/no-photo.jpg" alt="picture @ViewBag.Classes.Name">
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mô tả chung -->
                <div class="container mt-5 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="sc_heading clone_title">
                                <h2 class="title">Mô tả chung</h2>
                                <div class="clone">Mô tả chung</div>
                            </div>
                            <div class="py-3 venue">
                                <div class="rating-review container-fluid">
                                    <div class="row animate-in-down">
                                        <div class="py-4 px-5 col-md-8">
                                            <h2>
                                                <font color="black" class="class-details-title">@ViewBag.Classes.Name</font>
                                            </h2>
                                            <p class="px-5 pt-3">
                                                @ViewBag.Classes.GeneralDescription
                                            </p>
                                        </div>
                                        <div class="p-4 col-md-4" align="center">
                                            <h4 align="middle">
                                                <font color="black" class="class-details-title">Chi tiết khóa học</font>
                                            </h4>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="skill-feature class-details-icon text-left">
                                                        <i class="fa fa-level-up"></i>
                                                        <span class="label">Trình độ lớp:</span>
                                                        <span class="value col-lg-3">@ViewBag.Classes.LevelStudent.LevelName</span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="students-feature class-details-icon text-left">
                                                        <i class="fa fa-users"></i>
                                                        <span class="label">Giới tính:</span>
                                                        <span class="value col-lg-3">@ViewBag.Classes.Gender.Gender1</span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="assessments-feature class-details-icon text-left">
                                                        <i class="fa fa-check-square-o"></i>
                                                        <span class="label">Độ tuổi:</span>
                                                        <span class="value col-lg-3">@ViewBag.Classes.RangeAge.MinAge - @ViewBag.Classes.RangeAge.MaxAge</span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="lectures-feature class-details-icon text-left">
                                                        <i class="fa fa-files-o"></i>
                                                        <span class="label">Buổi học:</span>
                                                        <span class="value col-lg-3 text-right">@ViewBag.Classes.PartOfDay.PartOfDay1</span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="duration-feature class-details-icon text-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span class="label">Thời gian học:</span>
                                                        <span class="value col-lg-3">@ViewBag.Classes.RangeTime.StartTime - @ViewBag.Classes.RangeTime.EndTime </span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="assessments-feature class-details-icon text-left">
                                                        <i class="fas fa-calendar-plus"></i>
                                                        <span class="label">Bắt đầu:</span>
                                                        <span class="value col-lg-3">@String.Format("{0:dd/MM/yyyy}", ViewBag.Classes.StartDay)</span>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="assessments-feature class-details-icon text-left">
                                                        <i class="fas fa-calendar-times"></i>
                                                        <span class="label">Kết thúc:</span>
                                                        <span class="value col-lg-3">@String.Format("{0:dd/MM/yyyy}", ViewBag.Classes.EndDay)</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Chi tiết chương trình -->
                <div class="container mt-5 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="sc_heading clone_title">
                                <h2 class="title">Chương trình giảng dạy</h2>
                                <div class="clone">Chương trình giảng dạy</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="rating-review container-fluid">
                                <div class="row">
                                    @Html.Raw(ViewBag.Classes.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Giáo viên -->
                <div class="container mt-5 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="sc_heading clone_title">
                                <h2 class="title">Giới thiệu về giáo viên</h2>
                                <div class="clone">Giới thiệu về giáo viên</div>
                            </div>
                        </div>
                    </div>
                    <div class="rating-review container-fluid">
                        <div class="row no-gutters">
                            <div class="col-lg-4 col-md-4 col-sm-12 px-4">
                                <div class="inner">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <a href="#">
                                            <img src="@ViewBag.Classes.Coach.Image" class="card-img-top embed-responsive-item" alt="@ViewBag.Classes.Coach.Name">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                                        <div class="col-md-7 col-sm-12">
                                            <h3 class="font-jose-sans">Thầy @ViewBag.Classes.Coach.Name</h3>
                                        </div>
                                        <div class="col-md-5 col-sm-12">
                                            <div class="row d-flex justify-content-between">
                                                <a href="@ViewBag.Classes.Coach.Facebook"><i class="fa fa-facebook"></i></a>
                                                <a href="@ViewBag.Classes.Coach.Insta"><i class="fab fa-instagram-square"></i></a>
                                                <a href="@ViewBag.Classes.Coach.Twitter"><i class="fab fa-twitter-square"></i></a>
                                                <a href=""><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-feed-text my-4 font-source-san">
                                        <h5 style="nav-down">Giới thiệu về thầy @ViewBag.Classes.Coach.Name </h5>
                                        <span>
                                            @ViewBag.Classes.Coach.Description<br>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Đánh giá -->
                <div class="container mt-5 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="sc_heading clone_title">
                                <h2 class="title">Đánh giá của học viên</h2>
                                <div class="clone">Đánh giá của học viên</div>
                            </div>
                        </div>
                    </div>
                    <div class="rating-review container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="all-start-number">
                                    @ViewBag.TotalStar
                                </div>
                                <div class="star d-flex justify-content-between px-5">
                                    <input type="text" class="total-rating-star" value="@ViewBag.TotalStar" data-size="sm" />
                                </div>
                                <div class="rating-count">@ViewBag.CountRating <span class="text-muted">Rating</span></div>
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <div class="container-fluid">
                                    <div class="row d-flex">
                                        <div class="col-2 padding-0">
                                            <p>Xuất xắc</p>
                                        </div>
                                        <div class="col-10 padding-0">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.Best%" aria-valuemin="0" aria-valuemax="100">@ViewBag.Best%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex">
                                        <div class="col-2 padding-0">
                                            <p>Tốt</p>
                                        </div>
                                        <div class="col-10 padding-0">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.Good%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@ViewBag.Good%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex">
                                        <div class="col-2 padding-0">
                                            <p>Trung bình</p>
                                        </div>
                                        <div class="col-10 padding-0">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.Normal%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@ViewBag.Normal%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex">
                                        <div class="col-2 padding-0">
                                            <p>Dở</p>
                                        </div>
                                        <div class="col-10 padding-0">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.Bad%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@ViewBag.Bad%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex">
                                        <div class="col-2 padding-0">
                                            <p>Tệ</p>
                                        </div>
                                        <div class="col-10 padding-0">
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.VeryBad%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@ViewBag.VeryBad%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bình luận -->
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div class="alert alert-info">
                                        <div>
                                            Vui lòng <span><a href="@Url.Action("Login", "Account")">Đăng nhập</a></span> hoặc <span><a href="@Url.Action("Register", "Account")">Đăng ký</a></span> để bình luận và đánh giá.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <div class="container mt-5 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="sc_heading clone_title">
                                <h2 class="title">Bình luận</h2>
                                <div class="clone">Bình luận</div>
                            </div>
                        </div>
                    </div>
                </div>

                @{
                    Html.RenderAction("Comment", "Comment", new { classID = ViewBag.Classes.Class_ID, page = ViewBag.PageNumber, pageSize = ViewBag.PageSize });

                }

                <div class="text-center">
                    <div>
                        @Html.PagedListPager(Model, page => Url.Action("ClassDetails", new { page = page, pageSize = ViewBag.PageSize, classID = ViewBag.Classes.Class_ID }))


                        @*/// Chỗ này làm cái a truyền pageIndex - pageNumber vào
                            /// pageIndex - bao nhiêu item 1 page
                            /// pageNumber - trng hiện tại
                            /// xài Skip và Take để get list
                            /// ClassDtails quản lý pageNumber và pageIndex*@

                    </div>
                </div>

                <!-- Khung Đánh giá -->
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("Rating", "ClassDetails", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <div class="container">
                                <div class="card card-comment comment-box">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Đánh giá của bạn</h4>
                                            <input type="text" class="kv-uni-star rating-loading" value="" data-size="lg" title="" name="NumberStar">
                                            <input type="hidden" name="Class_ID" value="@ViewBag.Classes.Class_ID" />
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="float-left">
                                                @{
                                                    if (ViewBag.Error != "RATED")
                                                    {
                                                        <button class="btn btn-success send btn-sm" type="submit">
                                                            Đánh giá <i class="fa fa-long-arrow-right ml-1"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <p class="alert alert-info">Bạn đã đánh giá rồi</p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Khung bình luận -->
                        <div class="container">
                            <div class="card card-comment comment-box">
                                <div class="row">
                                    <div class="col-12"> <img src="https://i.imgur.com/d2dKtI7.png" width="60" class="rounded-circle mt-2"> </div>
                                    <div class="col-12">
                                        <div class="comment-box ml-2">
                                            <h4>Bình luận của bạn</h4>
                                            @using (Html.BeginForm("PostOriCmt", "Comment", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken();
                                                <div class="comment-area">
                                                    <textarea class="form-control" placeholder="Bạn cảm thấy khóa học thế nào?" rows="4" style="height: 100px" name="Content"></textarea>
                                                </div>
                                                <input type="hidden" value="@ViewBag.Classes.Class_ID" name="ClassID" />
                                                <input type="hidden" value="@ViewBag.UserDetails.User_ID" name="UserID" />
                                                <div class="comment-btns mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="float-left"> <button class="btn btn-success btn-sm">Hủy</button> </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="float-right">
                                                                <button class="btn btn-success send btn-sm" type="submit">
                                                                    Phản hồi <i class="fa fa-long-arrow-right ml-1"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <!-- Lớp liên quan  -->
                <div class="container mt-5 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="sc_heading clone_title">
                                <h2 class="title">Lớp liên quan</h2>
                                <div class="clone">Lớp liên quan</div>
                            </div>

                        </div>
                    </div>
                    <div class="hot-class-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="slider-btn">
                                        <span class="prev position-top-two">
                                            <i class="fas fa-chevron-left fa-2x"></i>
                                        </span>
                                        <span class="next position-top-two">
                                            <i class="fas fa-chevron-right fa-2x"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-class-wrapper">
                            @{
                                foreach (var item in ClassReference)
                                {
                                    <div class="hot-class">
                                        <div class="card" style="width: auto;">
                                            <div class="inner">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <a href="@Url.Action("ClassDetails","ClassDetails", new { id = item.Class_ID})">
                                                        @{
                                                            if (item.Image != null)
                                                            {
                                                                <img src="@Url.Content(item.Image)" class="card-img-top embed-responsive-item" alt="...">
                                                            }
                                                            else
                                                            {
                                                                <img src="https://via.placeholder.com/600" class="card-img-top embed-responsive-item" alt="...">
                                                            }
                                                        }
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <a href="@Url.Action("ClassDetails","ClassDetails", new { id = item.Class_ID})">
                                                        <h5 class="card-title class-title">@item.Name</h5>
                                                    </a>
                                                    <div class="class-number d-flex">
                                                        <i class="fas fa-user"></i>
                                                        <h6>@item.Quanity</h6>
                                                    </div>
                                                </div>
                                                <p class="card-text">
                                                    Huấn luyện viên: <span>@item.Coach.Name</span>
                                                </p>
                                                @{
                                                    string startday = item.StartDay.HasValue ? item.StartDay.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                    string endday = item.EndDay.HasValue ? item.EndDay.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                    <p class="card-text">
                                                        Thời gian: <span>@startday</span> - <span>@endday</span>
                                                    </p>
                                                }
                                                <div class="star-prices d-flex justify-content-between">
                                                    <div class="star d-flex">
                                                        <i class="fas fa-star"></i><span>(4,5)</span>
                                                    </div>
                                                    <div class="prices position-relative">
                                                        @{
                                                            if (item.PromoPrices >= item.Prices)
                                                            {
                                                                <div class="prices-now">@Convert.ToDouble(@item.PromoPrices).ToString("C0", new CultureInfo("vi-VN"))</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="prices-now">@Convert.ToDouble(@item.PromoPrices).ToString("C0", new CultureInfo("vi-VN"))</div>
                                                                <del class="prices-before">@Convert.ToDouble(@item.Prices).ToString("C0", new CultureInfo("vi-VN"))</del>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>