@model BITSoccer.Models.HomePage_Content
@{
    ViewBag.Title = "Nội dung trang chủ";
    Layout = "~/Views/Shared/_LayoutAdminControl.cshtml";
}

<h2>@ViewBag.Title</h2>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Nội dung huấn luyện viên</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.Coach_Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Nội dung các khóa học </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.HotClass_Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0"> Nội dung sân vận động </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.Stadium_Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Nội dung giải đấu chuyên nghiệp</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.Tour_Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Nội dung thành tựu</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.Archive_Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Câu châm ngộn thứ nhất</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.Quote1_Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Câu châm ngộn thứ hai</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.Quote2_Content
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-right m-5">
            <div class="col-lg-12">
                <a href="@Url.Action("EditHomePageContent", new { id = Model.Home_Content_ID })" class="btn btn-warning" >Chỉnh sửa</a>
            </div>
        </div>
    </div>
</main>

