@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Lớp của tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var studentclass = (IPagedList<BITSoccer.Models.ClassUser>)ViewBag.StudentClass;
}

@section AddToHead{
<link rel="stylesheet" href="~/Assets/css/theme2.css">
<link href="~/Assets/css/classcard.css" rel="stylesheet">
    }

<main>

    <div class="titile-bg" style="background-image: url('../../Assets/img/header_bg_3.jpg');">
        <div class="container">
            <div class="titile-name">Lớp của tôi</div>
        </div>
        <div class="text-shadow"></div>
    </div>

    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-lg-9 col-md-12">
                <div class="contaier-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 text-center">
                            <h2 style="font-family: 'Roboto Mono', monospace;">Lớp của tôi</h2>
                        </div>
                        <div class="col-lg-8 col-md-12 d-flex justify-content-end">
                            <div class="class-filter">
                                <a class="btn" href="@Url.Action("StudentClass", new { CurrentFilter = 1 })" >Đang diễn ra</a>
                            </div>
                            <div class="class-filter">
                                <a class="btn" href="@Url.Action("StudentClass", new { CurrentFilter = 2 })">Sắp diễn ra</a>
                            </div>
                            <div class="class-filter">
                                <a class="btn" href="@Url.Action("StudentClass", new { CurrentFilter = 3 })">Đã diễn ra</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        @{
                            if (studentclass != null)
                            {
                                foreach (var item in studentclass)
                                {
                                    <div class="col-lg-12 col-md-12">
                                        <div class="blog-card">
                                            <div class="meta">
                                                <div class="photo" style="background-image: url('@item.Class.Image')"></div>
                                                <ul class="details">
                                                    <li class="author"><a href="#">@item.Class.Coach.Name</a></li>
                                                    <li class="date">@item.Class.StartDay</li>
                                                    <li class="tags">
                                                        <ul>
                                                            <li><a href="#">@item.Class.Gender.Gender1</a></li>
                                                            <li><a href="#">@item.Class.RangeAge.MinAge - @item.Class.RangeAge.MaxAge</a></li>
                                                            <li><a href="#">@item.Class.RangeTime.StartTime - @item.Class.RangeTime.EndTime </a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="description">
                                                <h1>@item.Class.Name</h1>
                                                <h2>@item.Class.LevelStudent.LevelName</h2>
                                                <p> @item.Class.ShortDescription</p>
                                                <p class="read-more">
                                                    <a href="@Url.Action("ClassDetails","ClassDetails",new {id = item.Class.Class_ID})">Read More</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="class-notification">
                                <h2 style="color:red">Thông báo</h2>
                                <p>Bạn <span>không</span> học ngày hôm nay.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div id="caleandar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align:center">
        <div class="pagination">
            @Html.PagedListPager(studentclass , page => Url.Action("StudentClass", new { page = page , CurrentFilter = ViewBag.CurrentFilter}))
        </div>
    </div>
</main>

<script src="~/Assets/js/caleandar.js" type="text/javascript"></script>
<script src="~/Assets/js/calendardemo.js" type="text/javascript"></script>