@model BITSoccer.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminControl.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3 style="font-weight:700">Thông tin chung</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-10">Tên Tin Tức</label>
                                <h4 class="col-md-10 ml-4"> @Model.Name</h4>
                                <label class="col-md-10">Thể loại:</label>
                                <h4 class="col-md-10 ml-4"> @Model.News_Category.Name</h4>
                                <label class="col-md-10">Trạng thái:</label>
                                <h4 class="col-md-10 ml-4"> @Model.IsActive</h4>
                                <label class="col-md-10">Ngày tạo - người tạo:</label>
                                <p class="col-md-10 ml-4"> @Model.CreatedDate - @Model.CreatedBy</p>
                                <label class="col-md-10">Ngày chỉnh sửa - người chỉnh sửa:</label>
                                <p class="col-md-10 ml-4"> @Model.ModifyDate - @Model.ModifyBy</p>
                            </div>
                            <div class="col-md-5">
                                <img src="@Model.Image" class="img-fluid" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 style="font-weight:700">Giới thiệu chi tiết </h3>
                </div>
                <div class="card-body">
                    <label class="col-md-2">Giới thiệu ngắn:</label>
                    <p class="col-md-10 ml-4"> @Model.ShortDescription</p>
                    <label class="col-md-2">Mô tả chi tiết:</label>
                    <div class="col-md-10 ml-2">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.News_ID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>