@model BITSoccer.Models.Class
@using System.Globalization
@{
    ViewBag.Title = "Chi tiết lớp học";
    Layout = "~/Views/Shared/_LayoutAdminControl.cshtml";
}


<div>


    <dl class="dl-horizontal">
        <dt>
            Tên lớp học : @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            Số lượng học viên :  @Html.DisplayFor(model => model.Quanity)
        </dt>

        <dt>
            Giá gốc :  @Convert.ToDouble(Model.Prices).ToString("c0", new CultureInfo("vi-VN"))
        </dt>

        <dt>
            Giá hiện tại: @Convert.ToDouble(Model.PromoPrices).ToString("c0", new CultureInfo("vi-VN"))
        </dt>
        @{
            if (Model.Image != null)
            {
                <dt>
                    Hình ảnh
                </dt>

                <dd>
                    <img src="@Url.Content(Model.Image)" alt="Alternate Text" style="width:200px" />
                </dd>
            }
            else
            {
                <dt>
                    Hình ảnh
                </dt>

                <dd>
                    <img src="https://via.placeholder.com/600" alt="Alternate Text" style="width:200px" />
                </dd>
            }
        }

        <dt>
            Lịch học :  @Html.DisplayFor(model => model.StartDay) - @Html.DisplayFor(model => model.EndDay)
        </dt>

        <dt>
            Giới hạn thấp nhất :  @Html.DisplayFor(model => model.MinQuanity)
        </dt>

        <dt>
            Mô tả :   @Html.Raw(Model.Description)
        </dt>

        <dt>
            Thông tin Huấn luyện viên :  @Html.DisplayFor(model => model.Coach.Name)
        </dt>

        <dt>
            Dành cho giới tính : @Html.DisplayFor(model => model.Gender.Gender1)
        </dt>


        <dt>
            Trình độ lớp học  :  @Html.DisplayFor(model => model.LevelStudent.LevelName)
        </dt>


        <dt>
            Buổi học :  @Html.DisplayFor(model => model.PartOfDay.PartOfDay1)
        </dt>


        <dt>
            Giới hạn độ tuổi :  @Html.DisplayFor(model => model.RangeAge.MinAge) - @Html.DisplayFor(model => model.RangeAge.MaxAge)
        </dt>


        <dt>
            Khung thời gian :   @Html.DisplayFor(model => model.RangeTime.StartTime) - @Html.DisplayFor(model => model.RangeTime.EndTime)
        </dt>

        <dt>
            Cơ sở :  @Html.DisplayFor(model => model.Stadium.Name)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription) : @Html.DisplayFor(model => model.ShortDescription)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.GeneralDescription) : @Html.DisplayFor(model => model.GeneralDescription)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate) : @Html.DisplayFor(model => model.CreatedDate)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy) :  @Html.DisplayFor(model => model.CreatedBy)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate) :  @Html.DisplayFor(model => model.ModifyDate)
        </dt>



        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy) :  @Html.DisplayFor(model => model.ModifyBy)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.IsActive) :  @Html.DisplayFor(model => model.IsActive)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount) :   @Html.DisplayFor(model => model.ViewCount)
        </dt>


    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Class_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
