@model BITSoccer.Models.HomePage_Content
@{
    
    ViewBag.Title = "BIT Soccer";
}

<main>

    <!-- First Slider -->
    <div class="container-fluid p-0">
        <div class="site-slider">
            <div class="slider-one">
                @{Html.RenderAction("HomeSlide", "Partial");}
            </div>
            <div class="slider-btn">
                <span class="prev position-top">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="next position-top right-0">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </div>
        </div>
    </div>
    <!-- First Slider -->
    <!-- Coach moment -->
    <div id="background_main">
        <div class="container-fluid">
            <div id="background_content" style="padding:0px 70px">
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span class="commerce">Huấn luyện viên thân thiện</span></h3>
                                </div>
                                <p>
                                    @Model.Coach_Content
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="lesson-zone">
                    <div class="clearfix">
                        <div class="container-fluid">
                            <div class="row padding">
                                @{ 
                                    Html.RenderAction("CoachMoment", "Partial");
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach moment -->
                <!-- Cards -->
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>Các khóa học hot</span></h3>
                                </div>
                                <p>
                                    @Model.HotClass_Content
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="hot-class-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <div class="slider-btn">
                                    <span class="prev position-top-two">
                                        <i class="fas fa-chevron-left fa-2x"></i>
                                    </span>
                                    <span class="next position-top-two">
                                        <i class="fas fa-chevron-right fa-2x"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hot-class-wrapper">
                        @{ 
                            Html.RenderAction("HotClass","Partial");
                        }
                    </div>
                </div>
                <!-- Cards -->
                <!-- Stadium -->
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>Sân vận động đẳng cấp</span></h3>
                                </div>
                                <p>
                                    @Model.Stadium_Content
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="stadium-zone">
                    <div class="container-fluid">
                        <div class="row padding">
                            @{ 
                                Html.RenderAction("Stadium", "Partial");
                            }
                        </div>
                    </div>
                </div>
                <!-- Stadium -->
                <!-- Tourament -->
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>Giải đấu chuyên nghiệp</span></h3>
                                </div>
                                <p>
                                   @Model.Tour_Content
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


               @{ 
                   Html.RenderAction("Tourament", "Partial");
               }
                <!-- Tourament -->
                <!-- Achievement -->

                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>thành tựu đạt được</span></h3>
                                </div>
                                <p>
                                   @Model.Archive_Content
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="achievements">
                    <div class="container">
                        <div class="row">
                            @{ 
                                Html.RenderAction("Archive", "Partial");
                            }
                        </div>
                    </div>
                </div>

                <!-- Achievement -->



                <div class="container-fluid">
                    <div class="row sign-in-now" style="margin-bottom: 50px !important">
                        <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
                            <div class="title_landing d-border-c commerce">
                                <q>@Model.Quote1_Content</q>
                                <br>
                                <br>
                                <q>@Model.Quote2_Content</q>
                                <a href="@Url.Action("Classes","Home")"  class="btn btn-outline-light btn-lg">
                                    Đăng ký ngay
                                </a>
                            </div>
                            <!-- <h3 class="title_landing d-border-c commerce">
                              Only passions, great passions can elevate the soul to great things.
                            </h3>
                            <h3 class="title_landing d-border-c commerce">
                              Chỉ đam mê, những đam mê lớn lao mới nâng linh hồn tới những điều vĩ đại.
                            </h3>
                            <button type="button" class="btn btn-outline-light btn-lg">
                              Đăng ký ngay
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

