@using BITSoccer.Models
@using System.Globalization

@{

    ViewBag.Title = "Tài khoản học viên";
    Layout = null;
    var userdetails = ViewBag.UserDetails;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/ihover.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/css/slick-theme.css">

    <!-- My styles -->
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/css/nav.css" rel="stylesheet">
    <link href="~/Assets/css/cards.css" rel="stylesheet">
    <link href="~/Assets/css/tour.css" rel="stylesheet">

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.css" />*@

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.21/r-2.2.5/sp-1.1.1/datatables.min.css" />

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.21/r-2.2.5/sp-1.1.1/datatables.min.css" />*@


    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="~/Assets/img/logo.jpg"
                         class="d-inline-block align-center" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Classes","Home")">Khoá học</a>
                        </li>
                        <li class="nav-item dropdown hover-effect">
                            <a class="nav-link" href="@Url.Action("News","Home")" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Tin tức
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item hover-effect" href="@Url.Action("News","Home",new { newscateid = 1 })">Khoá học</a>
                                <a class="dropdown-item hover-effect" href="@Url.Action("News","Home",new { newscateid = 2 })">Sự kiện</a>
                                <a class="dropdown-item hover-effect" href="@Url.Action("News","Home",new { newscateid = 3 })">Chia sẻ</a>
                            </div>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Tournaments","Home")">Giải đấu</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Coach","Home")">Huấn luyện viên</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("About","Home")">Về chúng tôi</a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li> -->
                    </ul>

                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown hover-effect">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item hover-effect" href="@Url.Action("Index","Admin", new { area = "Admin"})">Admin</a>
                                            <a class="dropdown-item hover-effect" href="@Url.Action("Logout","Account")">Đăng xuất</a>
                                        </div>
                                    </li>
                                </ul>
                            }
                            else if (User.IsInRole("Student"))
                            {
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown hover-effect">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item hover-effect" href="@Url.Action("ProFile","Student")">Thông tin cá nhân</a>
                                            <a class="dropdown-item hover-effect" href="@Url.Action("StudentClass","Student")">Lớp của tôi</a>
                                            <a class="dropdown-item hover-effect" href="@Url.Action("Index","ShoppingCart")">Tài khoản học viên</a>
                                            <a class="dropdown-item hover-effect" href="@Url.Action("Logout","Account")">Đăng xuất</a>
                                        </div>
                                    </li>
                                </ul>
                            }
                            else if (User.IsInRole("Teacher"))
                            {
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown hover-effect">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item hover-effect" href="@Url.Action("Index","Coach")">Thông tin cá nhân</a>
                                            <a class="dropdown-item hover-effect" href="@Url.Action("CoachClass","Coach")">Lớp của tôi</a>
                                            <a class="dropdown-item hover-effect" href="@Url.Action("Logout","Account")">Đăng xuất</a>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item hover-effect">
                                    <a class="nav-link" href="@Url.Action("Login","Account")">Đăng nhập</a>
                                </li>
                                <li class="nav-item hover-effect">
                                    <a class="nav-link" href="@Url.Action("Register","Account")">Đăng ký</a>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="titile-bg" style="background-image: url('../../Assets/img/header_bg_2.jpg');">
            <div class="container">
                <div class="titile-name">tài khoản học viên</div>
            </div>
            <div class="text-shadow"></div>
        </div>
        <div id="background_main">
            <div class="container">
                <div id="background_content">
                    <div class="row">
                        <div class="col-lg-12 py-3">
                            <table id="tablestudentaccount" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Tên lớp</th>
                                        <th>Huấn luyện viên</th>
                                        <th>Trình độ</th>
                                        <th>Giá tiền</th>
                                        <th>Ngày Bắt Đầu</th>
                                        <th>Thời gian học</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Session["ClassCart"] != null)
                                        {
                                            foreach (var item in (List<Cart>)Session["ClassCart"])
                                            {
                                                <tr>
                                                    <td>@item.Class.Name</td>
                                                    <td>@item.Class.Coach.Name</td>
                                                    <td>@item.Class.LevelStudent.LevelName</td>
                                                    <td>
                                                        @{
                                                            if (item.Class.PromoPrices != 0)
                                                            {
                                                                @Convert.ToDouble(item.Class.PromoPrices).ToString("C0", new CultureInfo("vi-VN"))
                                                            }
                                                            else
                                                            {
                                                                @Convert.ToDouble(item.Class.Prices).ToString("C0", new CultureInfo("vi-VN"))
                                                            }
                                                        }
                                                    </td>
                                                    <td>@String.Format("{0:dd/MM/yyyy}", item.Class.StartDay)</td>
                                                    <td>@item.Class.RangeTime.StartTime - @item.Class.RangeTime.EndTime</td>
                                                    <td>
                                                        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="@string.Concat("#exampleModalCenter",item.Class.Class_ID)">
                                                            <i class="fas fa-trash"></i> Xóa
                                                        </a>
                                                    </td>
                                                </tr>
                                                <div class="modal fade" id="@string.Concat("exampleModalCenter",item.Class.Class_ID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Bạn có muốn xóa lớp "@item.Class.Name" ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                                                @using (Html.BeginForm("DeleteCart", "ShoppingCart", new { id = item.Class.Class_ID }, FormMethod.Post))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                                        <i class="fas fa-trash"></i> Xóa
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7" class="text-info text-center">Bạn chưa thêm lớp học nào</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên lớp</th>
                                        <th>Huấn luyện viên</th>
                                        <th>Trình độ</th>
                                        <th>Giá tiền</th>
                                        <th>Ngày Bắt Đầu</th>
                                        <th>Thời gian học</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="float-right">
                                Tổng tiền:
                                <span>
                                    @{
                                        List<Cart> temp = (List<Cart>)Session["ClassCart"];

                                        var totalshow = "";

                                        decimal total = 0;

                                        if (temp != null)
                                        {
                                            var subtotal = temp.Sum(x => x.Class.PromoPrices);
                                            var subtotalshow = Convert.ToDouble(temp.Sum(x => x.Class.PromoPrices)).ToString("C0", new CultureInfo("vi-VN"));
                                            totalshow = subtotalshow;
                                            total = Convert.ToDecimal(subtotal);
                                        }
                                        else
                                        {
                                            totalshow = "0";
                                        }
                                        @totalshow
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("Checkout", "ShoppingCart", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row px-3">
                            <div class="col-md-12">
                                <h2 class="title">Thông tin tài khoản</h2>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Tên Học Viên</label>
                                <input id="name" class="form-control" readonly value="@ViewBag.UserDetails.CustomerName">
                                <br>
                                <label for="email">Email</label>
                                <input id="email" class="form-control" readonly value="@userdetails.Email">
                                <br>
                                <label for="phonenumber">Số Điện Thoại</label>
                                <input id="phonenumber" class="form-control" readonly value="@userdetails.PhoneNumber">
                                <br>
                            </div>

                            <div class="col-md-6">
                                <label for="class-discount-code">Mã giảm giá</label>
                                <input id="class-discount-code" class="form-control" name="Discount" value="0" >
                                <br>
                                <label for="">Hình thức thanh toán</label>


                                <div class="input-group ml-3 py-2">
                                    <input type="radio" name="PayMethodID" id="international-pay" class="radio-btn-pay" value="1">
                                    <label for="international-pay">THẺ QUỐC TẾ, VISA, MASTER, JCB</label>
                                </div>
                                <div class="input-group ml-3 py-2">
                                    <input type="radio" name="PayMethodID" id="internal-pay" class="radio-btn-pay" value="2">
                                    <label for="internal-pay">THẺ ATM NỘI ĐỊA/ INTERNET BANKING (MIỄN PHÍ THANH TOÁN)</label>
                                </div>
                                <div class="input-group ml-3 py-2">
                                    <input type="radio" name="PayMethodID" id="momo-pay" class="radio-btn-pay" value="3">
                                    <label for="momo-pay">VÍ MOMO</label>
                                </div>
                                <input type="hidden" value="@total" name="Total" />
                            </div>
                            <div class="col-lg-12">
                                @{
                                    if (total > 0 )
                                    {
                                        <button type="button" class="btn btn-primary btn-lg StudentPayBtn" data-toggle="modal" data-target="#exampleModal111">
                                            Thanh Toán
                                        </button>
                                    }
                                }

                            </div>
                            <div class="modal fade" id="exampleModal111" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có muốn thanh toán hoá đơn trị giá <span class="text-info">@totalshow</span> không ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Thanh toán</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </main>


    @{
        Html.RenderAction("Footer", "Partial");
    }

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Assets/js/slick.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/main.js"></script>
    <script>

        $(document).ready(function () {
            $('#tablestudentaccount').DataTable();
        });

    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/16b5112f28.js" crossorigin="anonymous"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.js"></script>*@

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.21/r-2.2.5/sp-1.1.1/datatables.min.js"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.21/r-2.2.5/sp-1.1.1/datatables.min.js"></script>*@

    <!-- Facebook script -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>


