

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/ihover.css">
    <link href="~/Assets/" rel="stylesheet" />
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/css/slick-theme.css">

    <!-- My styles -->
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/css/nav.css" rel="stylesheet">
    <link href="~/Assets/css/cards.css" rel="stylesheet">
    <link href="~/Assets/css/tour.css" rel="stylesheet">

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Student")">
                    <img src="~/Assets/img/logo.jpg"
                         class="d-inline-block align-center" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("Index","Student")">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="classes_Thi.html">Khoá học</a>
                        </li>
                        <li class="nav-item dropdown hover-effect">
                            <a class="nav-link" href="new.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Tin tức
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Khoá học</a>
                                <a class="dropdown-item" href="#">Sự kiện</a>
                                <a class="dropdown-item" href="#">Chia sẻ</a>
                            </div>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="tourament_Thi.html">Giải đấu</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="coach_Lieu.html">Huấn luyện viên</a>
                        </li>
                        <li class="nav-item hover-effect">
                            <a class="nav-link" href="@Url.Action("About","Student")">Về chúng tôi</a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown hover-effect">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @Session["UserName"].ToString()
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item hover-effect" href="@Url.Action("Student_Profile","Users")">Thông tin cá nhân</a>
                                <a class="dropdown-item hover-effect" href="userclasses.html">Lớp của tôi</a>
                                <a class="dropdown-item hover-effect" href="student_account.html">Tài khoản học viên</a>
                                <a class="dropdown-item hover-effect" href="student_pay.html">Thanh Toán</a>
                                <a class="dropdown-item hover-effect" href="@Url.Action("Logout","Account")">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()


    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <h2>
                        BIT Soccer
                    </h2>
                    <ul class="Infor">
                        <li>
                            <span><i class="fa fa-map-marker"></i></span>
                            Văn phòng đại diện: 1 Lê Duẩn, Quận 1, Tp. Hồ Chí Minh
                        </li>
                        <li>
                            <span><i class="fa fa-mobile"></i></span>
                            034 567 899
                        </li>
                    </ul>
                    <ul class="Social">
                        <li><a href=""></a><i class="fab fa-facebook fa-3x" style="color: blue;"></i></li>
                        <li><a href=""></a><i class="fab fa-instagram fa-3x" style="color: rgb(213, 25, 86);"></i></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="footer-fb-content">
                        <div class="fb-page" data-href="https://www.facebook.com/bitsoccerlaso1" data-tabs=""
                             data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                             data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/bitsoccerlaso1" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/bitsoccerlaso1">BIT Soccer</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Assets/js/slick.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/main.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/16b5112f28.js" crossorigin="anonymous"></script>

    <!-- Facebook script -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
