@{ 
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {

        }
        else
        {
            Response.Redirect("~/Home/Index");
        }
    }
    else
    {
        Response.Redirect("~/Home/Index");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminAssets/dist/css/adminlte.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link href="~/AdminAssets/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index","Home",new { area = "" })" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">@ViewBag.Title</a>
                </li>
            </ul>
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <img src="~/AdminAssets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AdminAssets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Lớp học
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Classes", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Lớp</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","LevelStudents", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Trình độ lớp</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Genders", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Giới tính</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","RangeTimes", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thời gian học</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","PartOfDays", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Buổi học</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","RangeAges", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Giới hạn tuổi</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Huấn luyện viên
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Coaches", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Huấn luyện viên</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","LevelCoaches", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Trình độ huấn luyện viên</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Tin Tức
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","News", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tin Tức</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","NewsCategory", new { area = "Admin" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Thể loại tin tức</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Stadiums", new { area = "Admin" })" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Sân vận động
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Bill","General", new { area = "Admin" })" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Danh sách hóa đơn
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("AllUserAccount","General", new { area = "Admin" })" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Danh sách tài khoản
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Archive","General", new { area = "Admin" })" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Thành tựu
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CoachMoment","General", new { area = "Admin" })" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    HLV thân thiện
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("HomePageContent","General", new { area = "Admin" })" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Nội dung trang chủ
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("HomeSlide","General", new { area = "Admin" })" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Slide Trang chủ
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("EditFooter","General", new { area = "Admin" , id = 1})" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Footer
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Simple Link
                                    @*<span class="right badge badge-danger">New</span>*@
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/AdminAssets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminAssets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminAssets/dist/js/adminlte.min.js"></script>
    <!-- DataTables -->
    <script src="~/AdminAssets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminAssets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="~/AdminAssets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- DateTime Picker -->
    <script src="~/Assets/js/jquery.datetimepicker.full.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminAssets/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>
</body>
</html>
